@import url(https://cloud.typography.com/7463094/7169552/css/fonts.css);/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
.input-with-button {
  position: relative;
}

.input.input-with-button__input {
  padding-right: 75px;
}

.input-with-button__button {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  opacity: 0.4;
  overflow: hidden;
  width: 50px;
  height: 100%;
  border: 0;
  cursor: pointer;
  text-indent: -9999px;
  background-color: transparent;
  background-size: 50% auto;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
}

.input-with-button__button:hover {
  opacity: 0.7;
}

.input-with-button__button._search {
  background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2219.998px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2019.998%2020%22%20enable-background%3D%22new%200%200%2019.998%2020%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M19.998%2C18.426l-4.386-4.374c1.156-1.477%2C1.848-3.332%2C1.848-5.346c0-4.8-3.917-8.706-8.73-8.706%0A%09C3.917%2C0%2C0%2C3.906%2C0%2C8.706c0%2C4.8%2C3.917%2C8.706%2C8.729%2C8.706c1.991%2C0%2C3.827-0.669%2C5.297-1.792L18.42%2C20L19.998%2C18.426z%20M8.729%2C15.186%0A%09c-3.583%2C0-6.498-2.907-6.498-6.48c0-3.573%2C2.915-6.479%2C6.498-6.479c3.583%2C0%2C6.498%2C2.906%2C6.498%2C6.479%0A%09C15.228%2C12.279%2C12.313%2C15.186%2C8.729%2C15.186z%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat 50% 50%;
}

.input-with-button__button._submit {
  width: 40px;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2210.1px%22%20height%3D%2217.4px%22%20viewBox%3D%22-300.7%20388.6%2010.1%2017.4%22%3E%0A%3Cpath%20d%3D%22M-290.6%2C404.6l-1.4%2C1.4l-8-8l-0.7-0.7l0.7-0.7l8-8l1.4%2C1.4l-7.3%2C7.3L-290.6%2C404.6z%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat center;
  background-size: auto 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
.input {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 11px 20px 12px;
  border: 1px solid #cccbcb;
  outline: none;
  color: #161616;
  background-color: #fff;
  line-height: 25px;
  font-size: 14px;
}

.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input._big-font-size {
  font-size: 22px;
}

@media screen and (max-width: 640px) {
  .input._big-font-size {
    font-size: 14px;
  }
}

.input._light {
  border: 0;
}

.input:active, .input:focus {
  -webkit-box-shadow: 0 0 3px -1px #18a3fa;
          box-shadow: 0 0 3px -1px #18a3fa;
}

.input[disabled], .input_disabled {
  border-color: #cccbcb !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
  background-color: #eaeaec;
  cursor: not-allowed;
}

.input.error {
  border: 1px solid #e0b5b5;
  -webkit-box-shadow: 0 0 5px #e0b5b5;
          box-shadow: 0 0 5px #e0b5b5;
}

.input.error:active, .input.error:focus {
  outline-color: #e0b5b5;
  -webkit-box-shadow: 0 0 3px 0 #fa0e0e;
          box-shadow: 0 0 3px 0 #fa0e0e;
}
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
.checkbox {
  display: inline-block;
  outline: none;
  cursor: default;
  font-size: 14px;
  line-height: normal;
  text-align: left;
  vertical-align: baseline;
}

.checkbox > input {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
  border: 0;
}

.checkbox__icon {
  position: relative;
  display: inline-block;
  float: left;
  top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #636465;
  background-color: #fff;
}

.checkbox__icon::after {
  position: absolute;
  display: none;
  width: 11px;
  height: 11px;
  content: '';
}

.checkbox__icon::after {
  top: 3px;
  left: 1px;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2217.125%22%20height%3D%2212.12%22%20viewBox%3D%220%200%2017.125%2012.12%22%3E%0A%20%20%3Cpath%20fill%3D%22%2318a3fa%22%20d%3D%22M17.123%2C2.121%20L7.123%2C12.120%20L7.062%2C12.059%20L7.001%2C12.120%20L0.001%2C5.120%20L2.123%2C2.998%20L7.062%2C7.938%20L15.001%2C-0.001%20L17.123%2C2.121%20Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat;
  background-size: contain;
}

.error-group .checkbox__icon {
  border-color: #e0b5b5;
}

.checkbox._light .checkbox__icon {
  border-color: #fff;
}

label.checkbox:hover .checkbox__icon {
  border-color: #18a3fa;
}

input:checked + .checkbox__icon::after {
  display: block;
}

input:focus + .checkbox__icon {
  -webkit-box-shadow: 0 0 3px -1px #18a3fa;
          box-shadow: 0 0 3px -1px #18a3fa;
}

input:disabled + .checkbox__icon,
.checkbox:hover input:disabled + .checkbox__icon {
  border-color: #cccbcb;
}

input:disabled + .checkbox__icon::after,
.checkbox:hover input:disabled + .checkbox__icon::after {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2217.125%22%20height%3D%2212.12%22%20viewBox%3D%220%200%2017.125%2012.12%22%3E%0A%20%20%3Cpath%20fill%3D%22%23cccbcb%22%20d%3D%22M17.123%2C2.121%20L7.123%2C12.120%20L7.062%2C12.059%20L7.001%2C12.120%20L0.001%2C5.120%20L2.123%2C2.998%20L7.062%2C7.938%20L15.001%2C-0.001%20L17.123%2C2.121%20Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.checkbox__label {
  position: relative;
  display: block;
  margin-left: 23px;
}

.checkbox__note {
  position: relative;
  display: block;
  margin-left: 23px;
  margin-top: 5px;
  font-size: 12px;
}

input:disabled + .checkbox__icon + .checkbox__label {
  color: #afb1b3;
}
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Production fonts link
 * See settings, domains erc. in https://dashboard.typography.com/account/cloud-project.php?Prj_ProjectID=104185
 */

/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
body {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
}

.subscribe-form {
  font-size: 14px;
}

.subscribe-form .input-with-button__button {
  width: 30px;
}

.subscribe-form__wrap {
  border-top: 1px solid #ddd;
  padding: 20px 0 15px;
}

.subscribe-form__field {
  margin-bottom: 10px;
}

.subscribe-form__label {
  display: block;
  margin-bottom: 10px;
}

.input.subscribe-form__email-field {
  padding-left: 10px;
  padding-right: 30px;
  border-color: #999;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  font-size: 14px;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
}

.subscribe-form__privacy-policy-checkbox .checkbox__icon {
  border-color: #999;
}

.subscribe-form__privacy-policy-checkbox a {
  color: #18a3fa;
}

.subscribe-form__after-submit {
  display: none;
}
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
.gif-player {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.gif-player::after, .gif-player::before {
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  background-color: #161616;
  line-height: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  content: '';
}

.gif-player::after {
  width: 50px;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;
}

.gif-player::before {
  font-size: 12px;
  font-weight: 700;
  left: 0;
  padding: 0 15px 0 0;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  opacity: 0;
}

.gif-player:hover::after, .gif-player:active::after, .gif-player:focus::after {
  opacity: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.gif-player:hover::before, .gif-player:active::before, .gif-player:focus::before {
  opacity: 1;
  left: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.gif-player._show-img::after {
  background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2219.998px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2019.998%2020%22%20enable-background%3D%22new%200%200%2019.998%2020%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.998%2C18.426l-4.386-4.374c1.156-1.477%2C1.848-3.332%2C1.848-5.346c0-4.8-3.917-8.706-8.73-8.706%0A%09C3.917%2C0%2C0%2C3.906%2C0%2C8.706c0%2C4.8%2C3.917%2C8.706%2C8.729%2C8.706c1.991%2C0%2C3.827-0.669%2C5.297-1.792L18.42%2C20L19.998%2C18.426z%20M8.729%2C15.186%0A%09c-3.583%2C0-6.498-2.907-6.498-6.48c0-3.573%2C2.915-6.479%2C6.498-6.479c3.583%2C0%2C6.498%2C2.906%2C6.498%2C6.479%0A%09C15.228%2C12.279%2C12.313%2C15.186%2C8.729%2C15.186z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.gif-player._show-img::before {
  content: 'zoom in';
}

.gif-player._show-video::after {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2215%22%20height%3D%2218%22%20viewBox%3D%220%200%2015%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M-0.002%2C-0.001%20L14.998%2C8.998%20L-0.002%2C17.998%20L-0.002%2C-0.001%20Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.gif-player._show-video::before {
  content: 'watch video';
}

.gif-player._show-gif::after {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2215%22%20height%3D%2218%22%20viewBox%3D%220%200%2015%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M-0.002%2C-0.001%20L14.998%2C8.998%20L-0.002%2C17.998%20L-0.002%2C-0.001%20Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.gif-player._show-gif::before {
  content: 'watch gif';
}

.gif-player._show-screenshot-tour::after {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2221%22%20height%3D%2216%22%20viewBox%3D%220%200%2021%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M19.000%2C13.000%20L19.000%2C12.000%20L20.000%2C12.000%20L20.000%2C1.000%20L4.000%2C1.000%20L4.000%2C2.000%20L3.000%2C2.000%20L3.000%2C-0.000%20L21.000%2C-0.000%20L21.000%2C13.000%20L19.000%2C13.000%20ZM18.000%2C16.000%20L-0.000%2C16.000%20L-0.000%2C3.000%20L18.000%2C3.000%20L18.000%2C16.000%20ZM16.000%2C5.000%20L2.000%2C5.000%20L2.000%2C14.000%20L16.000%2C14.000%20L16.000%2C5.000%20Z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.gif-player._show-screenshot-tour::before {
  content: 'Screenshots Tour';
}

.gif-player._active::before, .gif-player._active::after {
  display: none;
}

.gif-player__image {
  display: inline-block;
  vertical-align: top;
}
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * @name Breakpoints
 * @collection core
 * @example-file ./examples.html
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Create media query UP or DOWN
 * @param {String|Number} $key
 * @param {String|Number} $value
 * @param {String} $direction
 * @private
 * @returns {String}
 */
/**
 * Create media query between two values
 * @param {String|Number} $value1
 * @param {String|Number} $value2
 * @private
 * @returns {String}
 */
/**
 * Validate and get media breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @private
 * @returns {String}
 */
/**
 * Create media breakpoint or simple styles without a breakpoint
 * @param {String|Number} $key
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create all breakpoints.
 * .CLASS_NAME-sm, .CLASS_NAME-md etc.
 * @param {String} $selector
 * @param {Map} $breakpoints-with-default
 * @param {String} $direction down|up
 * @returns {String}
 */
/**
 * Create DOWN media breakpoints
 * @example @media screen and (max-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create UP media breakpoints
 * @example @media screen and (min-width: BREAK_SIZE) { ... }
 * @param {String|Number} $breakpoint
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
/**
 * Create media breakpoints between UP and Down
 * @example @media screen and (min-width: BREAK_SIZE_1) and (max-width: BREAK_SIZE_2) { ... }
 * @param {String|Number} $breakpoint-up
 * @param {String|Number} $breakpoint-down
 * @param {Map} $breakpoints-with-default
 * @returns {String}
 */
.jb-download-button {
  height: 50px;
  padding: 0 35px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  line-height: 50px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  color: #fff;
  background-color: #18a3fa;
  color: #fff !important;
}

.jb-download-button._disabled, .jb-download-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.jb-download-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0887d7;
}

.jb-download-button:active, .jb-download-button:focus {
  color: #fff;
  background-color: #0573b8;
}

.jb-download-button._disabled, .jb-download-button[disabled] {
  color: #fff;
  background-color: #18a3fa;
}

.jb-download-button br {
  display: none;
}

.jb-download-buttons-set {
  margin: 20px auto;
  text-align: center;
}

.jb-download-buttons-set .jb-download-button {
  margin-left: 20px;
}

.jb-download-buttons-set .jb-download-button:first-child {
  margin-left: 0;
}

.jb-incut-banner {
  display: block;
  position: relative;
  margin: 30px 0 30px -51px;
  padding: 20px 30px 20px 50px;
  color: #fff;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAA8CAIAAAAVASbLAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAV5JREFUeNqsmG0OgjAQRLcDJh7J83j/xAMoVhRDKq3t7Ef/QAl9eQkL7DTdrhchRkpyliT0wMzdnLM8JGu4qwqHfogCjJU5S7wy5M2llTMLxnaY6WdCKu9ciVXGfharXHIjlVFOApUP3DBlHOYnWvneJR+5E628dJVRXwpRbnBDlNG86lduc/3K+LfAqfyXO23fUE75yXOdr1+P61FGf4FZecA1K2O4wFYYYy5o5WehDGaBQZniGpRBimiVWe5630QrLzxXW8sKrkpZwVUpY9FweWXcNV0tXxjIn8fHj8QpY9gJ2JSxNczhymCaF4Myih5fp9wPPNA24mQt4zeWhCnDkB0YZVRJKkYZtrgzVEYr/AUow5zQ+srwR+ymMvwRu5mEEbIrUId3+CN2Uxn+iF3GP47rUEbIrkBdcyOuWvkbeMb/eZsywTUpU32JQZnj6pXZPkr7Y0XIrkA9XgIMADDalguVzYqMAAAAAElFTkSuQmCC);
  background-color: #F75A34;
  background-repeat: repeat;
}

.jb-incut-banner::before {
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px 0;
  border-color: transparent #8f3e27 transparent transparent;
  content: '';
}

.jb-incut-banner a {
  color: #fff;
}

.jb-incut-banner h3 {
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0 0 5px 0;
  font-size: 38px;
  line-height: 41px;
}

.jb-incut-banner p {
  font-family: Arial, sans-serif;
  font-size: 17px;
  line-height: 19px;
  margin: 0 0 15px 0;
}

.jb-incut-banner p:last-child {
  margin: 0;
}

.jb-incut-banner .get-link {
  float: right;
  margin: 0 -10px -20px 20px;
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-style: italic;
}

.jb-incut-banner .get-link::before {
  position: absolute;
  border: 1px solid #fff;
  top: 0;
  bottom: 0;
  content: '';
}

.jb-incut-banner .get-link a {
  display: inline-block;
  position: relative;
  top: -20px;
  margin-left: 15px;
  color: #fff;
  line-height: 19px;
  text-decoration: none;
}

.jb-incut-banner .get-link a:hover {
  text-decoration: underline;
}

.jb-text-banner {
  margin: 25px 0;
  padding: 25px 30px;
  border-style: double;
  border-color: #000;
  border-width: 3px 0;
  color: #000;
  text-align: center;
  font-family: 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -1px;
}

.jb-text-banner a {
  color: #000;
}

.jb-text-banner a:hover {
  color: #ff4b33;
}

.jb-text-banner p {
  margin: 0 0 10px 0;
}

.jb-text-banner p:last-child {
  margin-bottom: 0;
}

.gif-player__image {
  max-width: 100%;
}

#content p code {
  font-size: 16px;
}

.post img {
  display: block;
  margin: 10px 0 0 0;
  padding: 4px;
}

.post li {
  margin-bottom: 1em;
}
