/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Dependencies
 */
/**
 * @name Utils
 * @collection core
 * @description Base utils on core
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
/**
 * Make retina media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Make print media query
 * Returns the @content (This mixin is helper)
 * @returns {String}
 */
/**
 * Dependencies
 */
/**
 * @name Core config file
 * @version 1.0
 * @description Config on core styles
 */
/**
 * Dependencies
 */
.footer {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #3b3e43;
  color: #afb1b3;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media (max-width: 480px) {
  .footer {
    padding: 10px;
  }
}

.footer._default {
  height: 300px;
  padding: 65px 0 25px;
}

.footer._small {
  min-height: 40px;
}

.footer a {
  color: #afb1b3;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

.page-error .footer a:hover {
  color: #343434;
  text-decoration: underline;
}

.page-error .footer a {
  color: #161616;
}

.page-error .footer {
  border-top: 1px solid #cccbcb;
  background-color: #fff;
  color: #161616;
}

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo-col {
  width: 16%;
}

.footer__logo {
  position: relative;
  float: left;
  background-image: url(data:image/svg+xml,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20700%20700%22%3E%3Ctitle%3Ejetbrains-simple_2%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%200H700V700H0z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M60.379%20568.75H322.879V612.5H60.379z%22%2F%3E%3Cpath%20d%3D%22M57.428%2C184.315L77.8%2C165.083c5.542%2C6.682%2C10.758%2C10.594%2C17.929%2C10.594%2C7.823%2C0%2C12.877-5.378%2C12.877-15.972V87.5h31.457v72.367c0%2C14.343-3.586%2C24.448-11.246%2C32.109-7.5%2C7.5-18.254%2C11.572-31.294%2C11.572C77.638%2C203.548%2C65.577%2C195.236%2C57.428%2C184.315Z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M147.394%2087.5L239.156%2087.5%20239.156%20114.23%20178.688%20114.23%20178.688%20131.67%20233.451%20131.67%20233.451%20156.607%20178.688%20156.607%20178.688%20174.699%20239.971%20174.699%20239.971%20201.592%20147.394%20201.592%20147.394%2087.5%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M280.491%20115.208L246.427%20115.208%20246.427%2087.5%20346.338%2087.5%20346.338%20115.208%20312.111%20115.208%20312.111%20201.592%20280.491%20201.592%20280.491%20115.208%22%2F%3E%3Cpath%20d%3D%22M139.736%2C282.7c10.106-4.4%2C17.6-12.224%2C17.6-25.426v-0.326A25.675%2C25.675%2C0%2C0%2C0%2C150%2C238.364c-6.682-6.52-16.788-10.106-31.131-10.106H60.362V342.35H119.2c27.218%2C0%2C43.191-11.9%2C43.191-31.457v-0.326C162.392%2C295.083%2C153.591%2C287.26%2C139.736%2C282.7Zm-48.57-29.011h20.7c9.29%2C0%2C14.343%2C3.422%2C14.343%2C9.779v0.326c0%2C6.682-5.542%2C9.942-15.158%2C9.942H91.166V253.685Zm39.607%2C52.808c0%2C6.682-5.379%2C10.431-15.158%2C10.431H91.166V295.9h24.123c10.594%2C0%2C15.484%2C4.075%2C15.484%2C10.269v0.326Z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M335.8%2C227.444H305.325l-42.63%2C101.193-17.833-26.056c14.18-6.031%2C23.469-17.6%2C23.469-35.205V267.05c0-11.246-3.422-19.885-10.1-26.567-7.661-7.661-19.722-12.224-37.162-12.224H167.116V342.35h31.619V307.8h14.017l22.981%2C34.553H290l8.15-20.536h44.169l8.149%2C20.536h33.9Zm-99.093%2C42.05c0%2C8.312-6.357%2C13.529-16.951%2C13.529H198.736V255.477H219.6c10.432%2C0%2C17.114%2C4.564%2C17.114%2C13.692v0.325ZM307.444%2C297.2l12.877-32.271L333.033%2C297.2H307.444Z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M388.119%20228.258H419.73800000000006V342.35H388.119z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M427.56%20228.258L457.061%20228.258%20504.001%20288.564%20504.001%20228.258%20535.295%20228.258%20535.295%20342.35%20507.75%20342.35%20458.854%20279.763%20458.854%20342.35%20427.56%20342.35%20427.56%20228.258%22%2F%3E%3Cpath%20d%3D%22M537.277%2C325.4l17.6-21.025c11.409%2C8.964%2C23.8%2C13.691%2C37%2C13.691%2C8.638%2C0%2C13.2-2.934%2C13.2-7.824v-0.325c0-4.89-3.749-7.335-19.4-11.084-24.286-5.541-43.03-12.387-43.03-35.694v-0.326c0-21.188%2C16.788-36.509%2C44.17-36.509%2C19.4%2C0%2C34.553%2C5.216%2C46.94%2C15.158L617.956%2C263.79c-10.431-7.5-21.84-11.246-31.946-11.246-7.66%2C0-11.409%2C3.1-11.409%2C7.334V260.2c0%2C5.216%2C3.912%2C7.5%2C19.885%2C11.083%2C26.078%2C5.7%2C42.377%2C14.18%2C42.377%2C35.531v0.326c0%2C23.307-18.418%2C37.161-46.126%2C37.161C570.526%2C344.306%2C551.457%2C337.95%2C537.277%2C325.4Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
  background-size: 100%;
}

@media (max-width: 480px) {
  .footer__logo {
    display: none;
  }
}

.footer._default .footer__logo {
  z-index: 1;
  width: 125px;
  height: 125px;
  margin-right: 50px;
}

.footer._default .footer__logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer._small .footer__logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.footer._default .footer__logo-beam {
  position: absolute;
  top: auto;
  left: auto;
  -webkit-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
          transform: rotate(4deg);
  margin-top: 40px;
  margin-left: -365px;
  width: 685px;
  height: 563px;
  background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%221220.189px%22%20height%3D%221005.379px%22%20viewBox%3D%220%200%201220.189%201005.379%22%20enable-background%3D%22new%200%200%201220.189%201005.379%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22540.8076%22%20y1%3D%22-432.3911%22%20x2%3D%22541.8076%22%20y2%3D%22-432.3911%22%20gradientTransform%3D%22matrix%28-500.8571%20-979.7421%20979.7422%20-500.8572%20695649.1875%20314285.9375%29%22%3E%0A%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23F15A6B%22%2F%3E%0A%09%3Cstop%20%20offset%3D%220.3134%22%20style%3D%22stop-color%3A%23F2675F%22%2F%3E%0A%09%3Cstop%20%20offset%3D%220.7692%22%20style%3D%22stop-color%3A%23F47649%22%2F%3E%0A%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23F47B3E%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3Cpath%20fill%3D%22url%28%23SVGID_1_%29%22%20d%3D%22M1123.491%2C978.379c5.698%2C10.441%2C14.812%2C19.086%2C26.808%2C23.633c5.978%2C2.268%2C12.114%2C3.352%2C18.149%2C3.367%0A%09h0.287c20.784-0.057%2C40.342-12.75%2C48.148-33.342c2.228-5.871%2C3.283-11.883%2C3.306-17.797v-0.373%0A%09c-0.029-8.256-2.074-16.32-5.774-23.561l0.109-0.057L754.627%2C50.285c-9.709-21.172-27.789-38.437-51.561-46.124%0A%09c-8.718-2.819-17.572-4.159-26.292-4.159c-36.319%2C0-70.288%2C23.232-82.03%2C59.533c-7.036%2C21.753-4.784%2C44.343%2C4.43%2C63.56l-0.049%2C0.023%0A%09l0.227%2C0.37c2.509%2C5.165%2C5.505%2C10.084%2C8.989%2C14.666l514.961%2C840.327L1123.491%2C978.379z%22%2F%3E%0A%3ClinearGradient%20id%3D%22SVGID_2_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22540.5078%22%20y1%3D%22-432.5093%22%20x2%3D%22541.5078%22%20y2%3D%22-432.5093%22%20gradientTransform%3D%22matrix%28558.8511%20-806.2443%20806.2443%20558.8511%2046744.5312%20678280.8125%29%22%3E%0A%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23FDEF3B%22%2F%3E%0A%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23F47B3E%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3Cpath%20fill%3D%22url%28%23SVGID_2_%29%22%20d%3D%22M741.09%2C143.126c16.967-19.115%2C25.419-45.491%2C20.536-72.441l-0.001-0.001%0A%09C754.124%2C29.293%2C717.72%2C0.049%2C677.02%2C0.002h-0.189c-5.018%2C0.005-10.088%2C0.453-15.189%2C1.378%0A%09c-18.604%2C3.372-34.683%2C12.644-46.831%2C25.457L36.966%2C613.188c-0.738%2C0.729-1.51%2C1.42-2.231%2C2.17l-0.511%2C0.496l0.039%2C0.037%0A%09C18.071%2C632.883%2C6.466%2C654.606%2C1.991%2C679.43C0.664%2C686.79%2C0.016%2C694.112%2C0%2C701.336v0.541%0A%09c0.127%2C58.846%2C42.23%2C111.023%2C102.203%2C121.834c42.261%2C7.617%2C83.373-7.119%2C111.204-35.764l0.005%2C0.004l0.056-0.074%0A%09c6.208-6.398%2C11.671-13.551%2C16.419-21.242L741.25%2C143.279L741.09%2C143.126z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-size: 100%;
}

.footer__col {
  position: relative;
  margin-right: 8%;
}

.footer__col._float-left {
  float: left;
}

.footer__col._float-right {
  float: right;
  margin-right: 0;
}

.footer__header {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.page-error .footer__header {
  color: #161616;
}

.footer__main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 290px;
}

.footer__menu-col {
  width: 25%;
}

.footer__social-col {
  width: 50%;
  margin-left: 8%;
}

.footer__menu-item {
  margin-bottom: 10px;
}

.footer__social-menu-item {
  float: left;
  margin-right: 10px;
}

.footer__social-menu-link {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 0;
}

.footer__social-menu-link:hover {
  opacity: 0.7;
}

.footer__social-menu-link._facebook {
  background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2034%2034%22%20enable-background%3D%22new%200%200%2034%2034%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M0%2C0v34h34V0H0z%20M21.3%2C11.5l-1.5%2C0c-1.2%2C0-1.4%2C0.6-1.4%2C1.4v1.9h2.9l-0.4%2C2.9h-2.5v7.5h-3v-7.5h-2.5v-2.9h2.5%0A%09v-2.2c0-2.5%2C1.5-3.9%2C3.8-3.9c1.1%2C0%2C2%2C0.1%2C2.3%2C0.1V11.5z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.footer__social-menu-link._twitter {
  background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2034%2034%22%20enable-background%3D%22new%200%200%2034%2034%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M0%2C0v34h34V0H0z%20M23.5%2C14c0%2C0.1%2C0%2C0.3%2C0%2C0.4c0%2C4.1-3.2%2C8.9-8.9%2C8.9c-1.8%2C0-3.4-0.5-4.8-1.4%0A%09c0.2%2C0%2C0.5%2C0%2C0.7%2C0c1.5%2C0%2C2.8-0.5%2C3.9-1.3c-1.4%2C0-2.5-0.9-2.9-2.2c0.2%2C0%2C0.4%2C0.1%2C0.6%2C0.1c0.3%2C0%2C0.6%2C0%2C0.8-0.1%0A%09c-1.4-0.3-2.5-1.6-2.5-3.1c0%2C0%2C0%2C0%2C0%2C0c0.4%2C0.2%2C0.9%2C0.4%2C1.4%2C0.4c-0.8-0.6-1.4-1.5-1.4-2.6c0-0.6%2C0.2-1.1%2C0.4-1.6%0A%09c1.5%2C1.9%2C3.9%2C3.1%2C6.5%2C3.3c-0.1-0.2-0.1-0.5-0.1-0.7c0-1.7%2C1.4-3.1%2C3.1-3.1c0.9%2C0%2C1.7%2C0.4%2C2.3%2C1c0.7-0.1%2C1.4-0.4%2C2-0.8%0A%09c-0.2%2C0.7-0.7%2C1.3-1.4%2C1.7c0.6-0.1%2C1.2-0.2%2C1.8-0.5C24.6%2C13%2C24.1%2C13.5%2C23.5%2C14z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.footer__social-menu-link._google-plus {
  background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2034%2034%22%20enable-background%3D%22new%200%200%2034%2034%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M0%2C0v34h34V0H0z%20M18.9%2C21.5c-1.7%2C2.2-4.9%2C2.8-7.4%2C2c-2.7-0.9-4.7-3.6-4.6-6.5c-0.1-3.5%2C3-6.8%2C6.5-6.9%0A%09c1.8-0.2%2C3.6%2C0.5%2C4.9%2C1.7c-0.6%2C0.6-1.1%2C1.2-1.7%2C1.8c-1.2-0.7-2.7-1.3-4.1-0.8c-2.3%2C0.6-3.7%2C3.3-2.8%2C5.6c0.7%2C2.3%2C3.5%2C3.6%2C5.7%2C2.6%0A%09c1.1-0.4%2C1.9-1.5%2C2.2-2.6c-1.3%2C0-2.6%2C0-3.9%2C0c0-0.8%2C0-1.6%2C0-2.3c2.2%2C0%2C4.4%2C0%2C6.6%2C0C20.4%2C17.9%2C20.2%2C20%2C18.9%2C21.5z%20M28.5%2C18%0A%09c-0.7%2C0-1.3%2C0-2%2C0c0%2C0.7%2C0%2C1.3%2C0%2C2c-0.7%2C0-1.3%2C0-2%2C0c0-0.7%2C0-1.3%2C0-2c-0.7%2C0-1.3%2C0-2%2C0c0-0.7%2C0-1.3%2C0-2c0.7%2C0%2C1.3%2C0%2C2%2C0%0A%09c0-0.7%2C0-1.3%2C0-2c0.7%2C0%2C1.3%2C0%2C2%2C0c0%2C0.7%2C0%2C1.3%2C0%2C2c0.7%2C0%2C1.3%2C0%2C2%2C0C28.5%2C16.7%2C28.5%2C17.3%2C28.5%2C18z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.page-error .footer__social-menu-link._facebook {
  background-image: url(data:image/svg+xml,%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2034%2034%22%20enable-background%3D%22new%200%200%2034%2034%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%233b3e43%22%20d%3D%22M0%2C0v34h34V0H0z%20M21.3%2C11.5l-1.5%2C0c-1.2%2C0-1.4%2C0.6-1.4%2C1.4v1.9h2.9l-0.4%2C2.9h-2.5v7.5h-3v-7.5h-2.5v-2.9h2.5%0A%09v-2.2c0-2.5%2C1.5-3.9%2C3.8-3.9c1.1%2C0%2C2%2C0.1%2C2.3%2C0.1V11.5z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.page-error .footer__social-menu-link._twitter {
  background-image: url(data:image/svg+xml,%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2034%2034%22%20enable-background%3D%22new%200%200%2034%2034%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%233b3e43%22%20d%3D%22M0%2C0v34h34V0H0z%20M23.5%2C14c0%2C0.1%2C0%2C0.3%2C0%2C0.4c0%2C4.1-3.2%2C8.9-8.9%2C8.9c-1.8%2C0-3.4-0.5-4.8-1.4%0A%09c0.2%2C0%2C0.5%2C0%2C0.7%2C0c1.5%2C0%2C2.8-0.5%2C3.9-1.3c-1.4%2C0-2.5-0.9-2.9-2.2c0.2%2C0%2C0.4%2C0.1%2C0.6%2C0.1c0.3%2C0%2C0.6%2C0%2C0.8-0.1%0A%09c-1.4-0.3-2.5-1.6-2.5-3.1c0%2C0%2C0%2C0%2C0%2C0c0.4%2C0.2%2C0.9%2C0.4%2C1.4%2C0.4c-0.8-0.6-1.4-1.5-1.4-2.6c0-0.6%2C0.2-1.1%2C0.4-1.6%0A%09c1.5%2C1.9%2C3.9%2C3.1%2C6.5%2C3.3c-0.1-0.2-0.1-0.5-0.1-0.7c0-1.7%2C1.4-3.1%2C3.1-3.1c0.9%2C0%2C1.7%2C0.4%2C2.3%2C1c0.7-0.1%2C1.4-0.4%2C2-0.8%0A%09c-0.2%2C0.7-0.7%2C1.3-1.4%2C1.7c0.6-0.1%2C1.2-0.2%2C1.8-0.5C24.6%2C13%2C24.1%2C13.5%2C23.5%2C14z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.page-error .footer__social-menu-link._google-plus {
  background-image: url(data:image/svg+xml,%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2034%2034%22%20enable-background%3D%22new%200%200%2034%2034%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%233b3e43%22%20d%3D%22M0%2C0v34h34V0H0z%20M18.9%2C21.5c-1.7%2C2.2-4.9%2C2.8-7.4%2C2c-2.7-0.9-4.7-3.6-4.6-6.5c-0.1-3.5%2C3-6.8%2C6.5-6.9%0A%09c1.8-0.2%2C3.6%2C0.5%2C4.9%2C1.7c-0.6%2C0.6-1.1%2C1.2-1.7%2C1.8c-1.2-0.7-2.7-1.3-4.1-0.8c-2.3%2C0.6-3.7%2C3.3-2.8%2C5.6c0.7%2C2.3%2C3.5%2C3.6%2C5.7%2C2.6%0A%09c1.1-0.4%2C1.9-1.5%2C2.2-2.6c-1.3%2C0-2.6%2C0-3.9%2C0c0-0.8%2C0-1.6%2C0-2.3c2.2%2C0%2C4.4%2C0%2C6.6%2C0C20.4%2C17.9%2C20.2%2C20%2C18.9%2C21.5z%20M28.5%2C18%0A%09c-0.7%2C0-1.3%2C0-2%2C0c0%2C0.7%2C0%2C1.3%2C0%2C2c-0.7%2C0-1.3%2C0-2%2C0c0-0.7%2C0-1.3%2C0-2c-0.7%2C0-1.3%2C0-2%2C0c0-0.7%2C0-1.3%2C0-2c0.7%2C0%2C1.3%2C0%2C2%2C0%0A%09c0-0.7%2C0-1.3%2C0-2c0.7%2C0%2C1.3%2C0%2C2%2C0c0%2C0.7%2C0%2C1.3%2C0%2C2c0.7%2C0%2C1.3%2C0%2C2%2C0C28.5%2C16.7%2C28.5%2C17.3%2C28.5%2C18z%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.footer._small .footer__copyright {
  line-height: 40px;
}

@media (max-width: 480px) {
  .footer._small .footer__copyright {
    line-height: 22px;
  }
}

.footer._small .footer__copyright .footer__copyright-rights-reserved {
  white-space: nowrap;
}
